.overreact-logo {
  @apply float-right rounded-full;
  @apply bg-zinc-50 p-6 max-w-12rem;
}

.slidev-vclick-hidden {
  opacity: 0.2 !important;
}

.footnotes-sep {
  @apply hidden;
}
.footnotes {
  @apply absolute left-40px bottom-20px text-sm;
  .footnotes-list li {
    @apply float-left ml-8;
  }
}

tbody {
  tr:not(:last-child) {
    @apply border-0;
  }
  tr:nth-child(even) {
    @apply bg-zinc-50 dark:bg-zinc-900;
  }
}
